<html>
            <body style="background-color: {{ color }};">

                <center><img src="{{ user_image }}" alt="image" width="460" height="345">

                <h1>Welcome to Stock Investment suggesting service for beginners!</h1>
                    <h2>Here are some suggestions on stocks that are hot, rising in trend and dropping in trend. Please do take a look before investing your money on it.</h2>
                    <h3>Hottest stocks on the market currently:</h3>
                    {% for hot_stock in hot_stocks %}
                        <p>{{ hot_stock }}</p>
                    {% endfor %}
                    <h3>Stocks that are rising in the market currently:</h3>
                    {% for rising_stock in rising_stocks %}
                        <p>{{ rising_stock }}</p>
                    {% endfor %}
                    <h3>Stocks that are dropping in the market currently:</h3>
                    {% for dropping_stock in dropping_stocks %}
                        <p>{{ dropping_stock }}</p>
                    {% endfor %}


                </br>
                </br>
                    <h3> Please pass us your data set here:</h3>
                    <p>Your data will be preprocessed, and passed to our prediction model. Please do ensure you are sending .csv extension files albeit it will be considered invalid file input.</p>
               <form action="/transform" method="post" enctype="multipart/form-data">
                    <input type="file" name="data_file" class="btn btn-block"/>
                    </br>
                    </br>
                    </br>
                    <h3>Enter Number of time you want to predict here:</h3>
                   <p>After our model gets trained with your data set, it will predict the future value.
                        How many times do you want to predict the future value?
                        The more the merrier but it takes slightly longer time.
                        10 Seconds of extra waiting time per addition on the iterative.
                        We will calculate the chance of your profit and display to you.</p>
                    <input type="number" name="loop">
                    </br>
                    </br>
                    </br>
                    <h3>Enter your Name here:</h3>
                    <p>As we are newly starting this system, we could like to hear more from you about our service provided.
                        Suggestions on improvisations and bugs will be very helpful for our system maintenance</p>
                   <input type="text" name="name">
                    </br>
                    </br>
                    </br>
                   <h3>BEGINNER TIPS:</h3>
                   <p> {{ tip }}</p>
                    <button onclick="myFunction()" type="submit" name="predict" class="btn btn-primary btn-block btn-large">Predict</button>
                    </br>
                    </br>
                    </br>
                    <p id="demo"></p>
                </form>

                <script>
                function myFunction() {
                  document.getElementById("demo").innerHTML = "Training";
                }
                </script>
                    </center>
            </body>
</html>